body {
    background-color: #DDE7C7;
    font-family: "Afacad Flux", sans-serif;
    color: black;
}
 
h2{
    color:#38160d;
    text-align: center;
}

.bg-green {
    background-color: #454d28;
  }

#header{
    width: 100%;
}

#Welcome {
    background-image: url(../images/minecraft.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

#panel_bg {
    width: 50%;
}

#panel_bg2 {
    width: 50%;
}


#bye {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}


  


/*Classes*/
.img-fluid {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover !important;
  }

  
.navbar{
    background-color: white;
}
.navbar a {
    color: #38160d;
  }
.navbar li a:hover{
    background-color: #98c1d9;
}
.navbar-toggler {
    color: white;
    border-color: #98c1d9;
    background-color: #fff;
}


.dropdown-item{
    background-color: white;
}

.nav-link.active {
    color: #38160d !important;
  }


.header{
    width:fit-content;
}

.modal-title{
    color: black;
}
.modal-body{
    color: black;
}

.card-title {
    color: #fff;
  }
  
  .card-text {
    color: #fff;
  }

.card {
    object-position: center;

}

.card{
    background-color: #606c38;
    margin: auto;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  }

.btn {

color: #732922;
}
.btn:hover {
    background-color: #a7c957;
  }
  
img, .container-fluid {
    max-width: 100%;
    text-align: justify;
  }

/*tablet css*/

@media (max-width: 768px) {
    #header_img {
      background-size: cover;
      background-position: center;
    }
#header {
    width: 100%;
    object-fit: cover !important;
  }
  

}

@media only screen and (max-width: 768px) {
    #panel_bg {
      width: 100%;
    }
    #panel_bg2 {
        width: 100%;
    }
  }
  
/*desktop css*/
@media (min-width:1024px) {
    #panel_bg {
    width: 50%;
    
}

}

img{

    max-width: 100%;
}